[provisioner]
localhost

[idm_primary]
idm.demo.net

[idm_replicas]
idmr1.demo.net
idmr2.demo.net

[sat_primary]
satellite.demo.net

[sat_capsule]
capsule1.demo.net
capsule2.demo.net

[aap_controller]
controller1.demo.net

[automation_hub]
ah1.demo.net

[container_servers]
containerhost1.demo.net
containerhost2.demo.net

[aws_nodes]
